{%extends "qa/base.html"%}
{%block content%}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{object.user.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'qa:user-question' object.user.username%}">{{ object.user.username }}</a>
      <small class="text-muted">{{ object.timestamp }}</small>
      {% if object.user == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'qa:question-update' object.id%}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'qa:question-delete' object.id%}">Delete</a>
      </div>
      {%endif%}
    </div>
    <h2 class="article-title">{{ object.question }}</h2>
    <p class="article-content">{{ object.description }}</p>
    <a class="btn btn-secondary " href="{% url 'qa:question-answer' object.id%}">Answer</a>
    <div>
      {%if liked%}
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'qa:like-question' object.id%}">
           <img src="/media/upvote.jpg"> ({{total_likes}})
        </a>


      {%else %}
        <a class="btn btn-outline-primary btn-sm mt-1 mb-1" href="{% url 'qa:like-question' object.id%}">
          <img src="/media/upvote.jpg"> ({{total_likes}})
        </a>
      {%endif%}
      &nbsp;
 
      {%if disliked%}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'qa:dislike-question' object.id%}">
          <img src="/media/downvote.jpg"> ({{total_dislikes}})
        </a>
      
      {%else %}
        <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'qa:dislike-question' object.id%}">
          <img src="/media/downvote.jpg"> ({{total_dislikes}})</a>
      {%endif%}
    </div>
  </div>


</article>
<legend class="border-bottom-mb-4">Answers</Legend>
{% if  answers%}
{% for answer in answers %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{answer.user.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'qa:user-question' answer.user.username%}">{{ answer.user.username }}</a>
      <small class="text-muted">{{ answer.timestamp }}</small>
    </div>
    <p class="article-content">{{ answer.answer }}</p>
  </div>
</article>
{% endfor %}

{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

{% else %}
<h1>The question is not yet answered</h1>
{% endif %}
{%endblock content%}